.cm-s-easymde .cm-header-1 {
  font-size: 1.9rem;
}
.cm-s-easymde .cm-header-2 {
  font-size: 1.5rem;
}
.cm-s-easymde .cm-header-3 {
  font-size: 1.25rem;
}
.cm-s-easymde .cm-header-4 {
  font-size: 1.15rem;
}
.cm-s-easymde .cm-header-5 {
  font-size: 1.1rem;
}
.cm-s-easymde .cm-header-6 {
  font-size: 1rem;
}
